{% extends 'layouts/base-auth.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock title %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="text-center mb-4">
                    <!-- Add your logo image here -->
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" style="max-height: 100px;">
                </div>
                
                <div class="text-center">
                    <a href="https://wfdash.pythonanywhere.com/admin/" class="btn btn-primary btn-lg">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}